  /* Global Styles */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }

      body {
        background-color: #f8f9fa;
        color: #333;
        line-height: 1.6;
      }

      .grid-wrapper {
        padding: 1rem 2rem;
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
      }

      .w-full {
        width: 100;
      }

      .grid {
        display: grid;
      }

      .grid-col {
        grid-template-columns: repeat(1, 1fr);
      }

       .grid-col-1 {
        grid-template-columns: repeat(1, 1fr);
      }
      
     .grid-col-2 {
        grid-template-columns: repeat(2, 1fr);
      }

       .grid-col-3 {
        grid-template-columns: repeat(3, 1fr);
      }

       .grid-col-4 {
        grid-template-columns: repeat(4, 1fr);
      }